.input-bar {
  height: 48px;
  min-height: 48px;
  max-height: 48px;
  position: relative;
  z-index: 100;
  -webkit-app-region: drag;
  .input-bar-wrapper {
    position: fixed;
    height: 48px;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
  }
  input {
    height: 42px;
    min-height: 42px;
    font-size: 28px;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: none;
  }
}