.item-image-wrapper {
  width: 60px;
  height: 60px;
  margin-right: 3px;
  img {
    width: 42px;
    height: 42px;
  }
}
.list-item {
  scroll-snap-align: start;
}
.list-item.selected {
  background: #bbb;
}