.item-image-wrapper {
  width: 60px;
  height: 48px;
  margin-right: 3px;
  img {
    width: 36px;
    height: 36px;
  }
}
.list-item {
  scroll-snap-align: start;
}
.item-title {
  font-size: 16px;
}
.item-subtitle {
  font-size: 12px;
}
.list-item.selected {
  background: #bbb;
}