@import "../style/common.scss";

* {
  font-family: BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji
}
.item-list {
  max-height: 540px;
  overflow: auto;
  scroll-snap-type: y mandatory;
}
.item-list::-webkit-scrollbar{
  width: 6px;
  background: none;
}
/*滚动条的轨道*/
.item-list::-webkit-scrollbar-track{
  background: none;
}
/*滚动条的滑块按钮*/
.item-list::-webkit-scrollbar-thumb{
  background-color: #bbb;
}
/*滚动条的上下两端的按钮*/
.item-list::-webkit-scrollbar-button{
  display: none;
}

.result-container {
  max-height: 432px;
}
.item-list {
  overflow: hidden auto;
  flex: 3;
  scroll-snap-type: y mandatory;
}
.item-preview {
  padding: 20px;
  flex: 2;
  height: 432px;
  overflow: hidden;
}