.resultItemPreview {
  box-sizing: border-box;
  flex: 4;
  border-left: 1px solid #ddd;
  height: 486px;
  min-height: 486px;
  max-width: 64%;
  overflow: auto;
}
.previewWrapper {
  padding: 12px 0 12px 12px;
  box-sizing: border-box;
  height: 100%;
}