.resultItemPreview {
  box-sizing: border-box;
  flex: 4;
  border-left: 1px solid #ddd;
  min-height: 432px;
  height: 432px;
  max-width: 64%;
  overflow: hidden;
}
.previewWrapper {
  padding: 20px;
}