.resultView {
  display: flex;
}
.resultListContainer {
  flex: 3;
  max-height: 540px;
  overflow: auto;
}

/* 滚动槽 */
::-webkit-scrollbar {
    width: 12px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.06);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.12);
}